{% extends 'blog/base.html' %}
{% load static %}


    {% block css_files %}
    <link rel="stylesheet" href="{% static "static/styles.css" %} >
    {% endblock css_files %}

{% block title %}

{% endblock title %}


{% block content %}
   <div class="main">
 <section> 
    <h2>New and Interesting Blog Posts </h2> 
    <p>{{blog_posts_count}} -  New Posts Today(See Below)</p>
        </section>
        {% for blog_post in blog_posts %}
        <div>
            <hr>
            <strong> <a href="" class="anchor"> {{ blog_post.title }}</a></strong>
              <p> By {{blog_post.author}} </p>
            <p> {{ blog_post.posted_date }}</p>
          

        </div>


   </div>
        {% endfor %}
   

{% endblock content %}


</body>
</html>