{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}   {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static "styles.css" %}">
    {% block css_files %}
    {% comment %}  {% endcomment %}
    {% endblock %}
</head>
<body>
    <header class="header__class">

        <nav class="nav_class">
            <ul class="ul__class">
                <li class="li_class"> <a href=""> Twitter</a></li>
                <li class="li_class"><a href=""> Linkedln</a></li>
                <li class="li_class"><a href="">Github</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>